@using EShopping.Entity.UIDTO
@using EShopping.WXUI.Controllers

@model List<ShoppingCarDTO>



@{

    decimal price = 0;
    int totalCount = 0;
}

<script type="text/javascript" src="@Url.Content("~/js/BussinesJs/shoppingCar.js")"></script>
<script type="text/javascript">
    var ourl = "@Url.Action("CreateShoppingOrder", "ShoppingCar")";
</script>
<script type="text/javascript">
    $(function () {

        $("#ckAll").click(function () {
            $(".car-inner-list :checkbox").prop("checked", $("#ckAll").is(":checked"));
        });

        $(".car-inner-list :checkbox").click(function () {
            $("#ckAll").prop("checked", $(".car-inner-list :checkbox").length == $(".car-inner-list :checkbox:checked").length);
        });
    })
</script>

@Html.ValidationSummaryAlert()
@using (Html.BeginForm("CreateShoppingOrder", "ShoppingCar", FormMethod.Post))
{
    <header id="header" class="shopcar-top">
        <h2>购物车</h2>
    </header>
    <section id="page-content" class="shopcar-content">
        @if (Model != null && Model.Count > 0)
        {
            <ul class="lr-pad sel_all">
                <li style="overflow:hidden"><a href="javascript:;" title="" style="float:left; margin-left:-1.5rem;"><input type="checkbox" id="ckAll" style="margin-right:10px;" />全选</a></li>
            </ul>
        }

        <div class="car-inner">
            @if (Model != null && Model.Count > 0)
            {
                totalCount = Model.Count;
                <div class="car-inner-list">


                    @for (var i = 0; i < Model.Count; i++)
                    {
                        price += Model[i].TotalPrice;
                                        <!-- list -->
                        <div class="car-inner-item">
                            <div class="item-title">
                                <div class="lr-pad">
                                    @*<span class="select"></span>*@
                                    <span style="float:left; margin-left:-1.5rem;">
                                    @*@if(Model[i].IsChecked)
                                    {
                                        <input type="checkbox" class="checkSelect" name="[@(i)].IsChecked" checked="checked"/>
                                    }
                                    else
                                    {
                                       <input type="checkbox" class="checkSelect" name="[@(i)].IsChecked" />  
                                    }*@
                                    @Html.CheckBoxFor(c => Model[i].IsChecked, new { @class = "checkSelect" })
                                    </span>
                                    @Html.HiddenFor(c => Model[i].product.Id)
                                    @Html.HiddenFor(c => Model[i].product.spellbuyproductId)
                                    @Html.HiddenFor(c => Model[i].OperationType, new { id = "OperationType" })
                                    <h4>@Model[i].product.productName</h4>
                                    <a class="orderDel" onclick="return confirm('确定删除当前商品？');" href="@Url.Action("AddProductNum", "ShoppingCar", new { id = @Model[i].product.Id, spellBuyProductId = @Model[i].product.spellbuyproductId, num = 0 })" title="删除" num="0" pid="@Model[i].product.Id" spellbuyproductid="@Model[i].product.spellbuyproductId"></a>
                                </div>
                            </div>
                            <div class="item-inner">
                                <a class="carlist-img" href="javascript:;" title=""><img width="100%" src="@Model[i].product.coverImg1" /></a>
                                <ul class="carlist-inners">
                                    <li class="tit">剩余数量<em>@((Model[i].product.productLimit - Model[i].product.spellbuyCount) < 0 ? 0 : Model[i].product.productLimit - Model[i].product.spellbuyCount)</em></li>
                                    <li class="num">
                                        <span>购买数量</span>
                                        <span class="pans">
                                            <em  onclick="ChangebuyNum(this)" opt="-1">-</em>
                                            @Html.TextBoxFor(c => Model[i].BuyNum, new { id = "carCount", @class = "buyNum" })
                                            <em onclick="ChangebuyNum(this)" opt="1">+</em>
                                        </span>
                                        @if(Model[i].IsBuyAll)
                                        {
                                              <span class="carend"  onclick="ChangebuyNum(this)" opt="-2">
                                            包尾
                                        </span>
                                        }
                                        else
                                        {
                                            <span class="carend" style="background:#999;" onclick="ChangebuyNum(this)" opt="2">
                                                包尾
                                            </span>
                                        }
                                      
                                        @Html.HiddenFor(c => Model[i].IsBuyAll)
                                    </li>
                                    <li class="mon">
                                        <span class="@(Model[i].BuyNum == 10 ? "curr" : "")" num="10" opt="0" onclick="ChangebuyNum(this)">10</span>
                                        <span class="@(Model[i].BuyNum == 30 ? "curr" : "")" num="30" opt="0" onclick="ChangebuyNum(this)">30</span>
                                        <span class="@(Model[i].BuyNum == 50 ? "curr" : "")" num="50" opt="0" onclick="ChangebuyNum(this)">50</span>
                                        <span class="@(Model[i].BuyNum == 100 ? "curr" : "")" num="100" opt="0" onclick="ChangebuyNum(this)">100</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    }



                </div>
                <div class="settle">
                    <p>共@(totalCount)件商品，总计：<em>@(price)</em>易购币</p>
                    <input type="submit" value="结算" class="orderSub" onclick="javascript: $('form').attr('action', '/ShoppingCar/CreateShoppingOrder');"/>
                </div>
            }
            else
            {

                <div class="car-inner-item">
                    <div class="item-title">
                        <div class="lr-pad">

                            <h4>快去挑选几件期待已久的宝贝吧！一元就可以实现你的愿望~</h4>

                        </div>
                    </div>
                    <div class="item-inner">
                        <a class="carlist-img" href="javascript:;" title=""> </a>
                        <ul class="carlist-inners">
                            <li class="tit"><em><a href="@Url.Action("List", "Product")" title="" style="margin-left:17%;color:#EA0000;">立即夺宝</a></em></li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </section>

}